<header class="settings-view-header">
    {{#link-to "settings" class="btn btn-default btn-back"}}{{format-message (intl-get "back")}}{{/link-to}}
    <h2 class="page-title">{{format-message (intl-get "settings.about.title")}}</h2>
</header>

<section class="content settings-about">
    <section class="about-ghost-intro">
        <h1>
            <span class="ghost_logo">
                <span class="hidden">Ghost</span>
            </span>
            <span class="version blue">v{{model.version}}</span>
        </h1>

    {{gh-notifications location="settings-about-upgrade" notify="updateNotificationChange"}}
    {{#unless updateNotificationCount}}
            <p>{{format-message (intl-get "slogan")}}</p>
    {{/unless}}

        <div class="about-environment-help clearfix">
            <div class="about-environment">
                <dl>
                    <dt>{{format-message (intl-get "settings.about.version")}}:</dt>
                    <dd class="about-environment-detail">{{model.version}}</dd>
                    <dt>{{format-message (intl-get "settings.about.environment")}}:</dt>
                    <dd class="about-environment-detail">{{model.environment}}</dd>
                    <dt>{{format-message (intl-get "settings.about.database")}}:</dt>
                    <dd class="about-environment-detail about-environment-database">{{model.database}}</dd>
                    <dt>{{format-message (intl-get "settings.about.mail")}}:</dt>
                    <dd class="about-environment-detail">{{#if model.mail}}{{model.mail}}{{else}}{{format-message (intl-get "settings.about.native")}}{{/if}}</dd>
                </dl>
            </div>
            <div class="about-help">

                <a href="http://support.ghost.org" class="btn">
                    {{format-message (intl-get "settings.about.userDocumentation")}}
                </a>
                <a href="https://ghost.org/forum/" class="btn">
                    {{format-message (intl-get "settings.about.getHelp")}}
                </a>

            </div>
        </div>
    </section>

    <section class="about-credits">
        <h1>{{format-message (intl-get "settings.about.thePeople" name="Maurice")}}</h1>

        <ul class="top-contributors clearfix">
            {{partial "contributors"}}
        </ul>

        <p class="about-contributors-info">
            {{format-message (intl-get "settings.about.incredibleGroupOfContributos")}}
        </p>

        <a href="https://ghost.org/about/contribute/" class="about-get-involved btn-blue btn-lg btn">
            {{format-message (intl-get "settings.about.howToGetInvolved")}}
        </a>

        <p class="about-copyright">
            Copyright 2013 - 2015 Ghost Foundation, released under the <a href="https://github.com/TryGhost/Ghost/blob/master/LICENSE">MIT license</a>.
            <br>
            <a href="https://ghost.org/">Ghost</a> is a trademark of the <a href="https://ghost.org/about/">Ghost Foundation</a>.
        </p>
    </section>
</section>
